body {
  line-height:1.75em;
  font-size:13px;
  margin:40px;
}

.multi-select {
  &,*,*:before,*:after { box-sizing:border-box; }
  
  position:relative;
  max-width:100%;
  width:200px;
    
  &_field, &_option {
    background:#fff;
    padding-left:2px;
  }
  
  &_field {
    position: relative;
    height:25px;
    padding-left:2px;
    border: 1px solid #aaa;
    line-height:25px;
    cursor: default;
    
    &:hover { border-color:#888;}

    &:after {
      content:'';
      position:absolute;
      right:4px;
      width:0;
      border-top: 4px solid #000;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      top:50%;
      transform:translateY(-50%);
    }
    
    &.is-empty { color:#aaa; }
  }
  
  &_options {
    display:none;
    position:absolute;
    width:100%;
    max-height:170px;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
    background:#fff;
    box-shadow:0px 1px 3px rgba(0,0,0,.15);
    overflow-x:hidden;
    .is-active & {
      display:block;
    }
  }
  &_option {
    background:transparent;
    position:relative;
    z-index:101; // in front of checkbox
    height:30px;
    line-height:30px;
    
    
    &:hover {background:#f0f0f0;}
    
    &:not(:last-child) {
      border-bottom:1px solid #ddd;
    }
  }
  &_label {
    position:relative;
  }
  
  &_checkbox { 
    position:relative;
    top:2px;
    margin-right:4px;
    z-index:101
  }
}